<div class="add-exam-form-wrapper">
  <div class="exam-card edit-style">
    <form id="add-exam-form" class="exam-form-grid" method="post">
      {% csrf_token %}
      <label>Exam Subject</label>
      {{ form.exam_subject }}

      <label>Exam Number</label>
      {{ form.exam_number }}

      <label>Location</label>
      {{ form.location }}

      <label>Building</label>
      {{ form.building }}

      <label>Room Number</label>
      {{ form.room_number }}

      <label>Exam Date</label>
      {{ form.exam_date }}

      <label>Exam Time</label>
      {{ form.exam_time }}

      <label>Max Seats</label>
      {{ form.max_seats }}

      <button type="submit" class="edit-btn">Create Exam</button>

    </form>
  </div>
</div>

