{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
    <link rel="stylesheet" href="{% sass_src 'scss/faculty_dashboard.scss' %}">
</head>

<body>

    <!-- Main Panel -->
    <div class="main-container">

        <!-- Faculty Home Panel -->
        <div id="faculty_home">

            <h1>Faculty Dashboard</h1>

            <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>

</body>

</html>